DB_PASSWORD=YOUR_EXAMPLE_PASSWORD
SEQ_API_KEY=YOUR_EXAMPLE_SEQ_API_KEY
SEQ_FIRSTRUN_ADMINPASSWORD=YOUR_FIRSTRUN_ADMIN_PASSWORD
BASE_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=YOUR_EXAMPLE_USERNAME
SMTP_PASSWORD=YOUR_EXAMPLE_PASSWORD
SMTP_FROM_ADDRESS=YOUR_EXAMPLE_FROM_ADDRESS
SMTP_FROM_NAME=SampleTwitter